.border-red{
    padding : 30px;
}
.border-img{
    border-radius : 30px;
}
.cont-login{
    padding : 20px;
}
.btn-iniciar{
    height : 40px;
}
.btn-icono{
    position : absolute;
    right : 0px;
    top : 20px;
    font-size :25px;
}