<ion-header [translucent]="true">
  <ion-toolbar color="danger" class="ion-text-center">
    <ion-title>
      Bienvenidos {{ user }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <ion-grid>
      <ion-row *ngFor="let row of rows">
        <ion-col size="2">
          <ion-avatar>
            <img src="{{ row.img }}" class="img-avatar activo" *ngIf="row.status == 1">
            <img src="{{ row.img }}" class="img-avatar inactivo" *ngIf="row.status != 1">
          </ion-avatar>
        </ion-col>
        <ion-col size="9">{{ row.name }}</ion-col>
        <ion-col size="1">
          <ion-icon name="caret-forward-outline"></ion-icon>
        </ion-col>
      </ion-row>
  </ion-grid>

</ion-content>
